extends layout.pug

block content
  h1 Edit Travel Entry

  form(action=`/entries/${entry._id}/edit` method="POST")
    div
      label(for="title") Title:
      input(type="text" name="title" required value=entry.title)
    div
      label(for="location") Location:
      input(type="text" name="location" value=entry.location)
    div
      label(for="description") Description:
      textarea(name="description")= entry.description
    div
      label(for="photoUrl") Photo URL:
      input(type="text" name="photoUrl" value=entry.photoUrl)
    div
      button(type="submit") Update Entry
